@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.input-style {
  @apply mt-1 block w-full rounded-md shadow-sm border border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 px-3 py-2 transition-colors duration-100 ease-in-out text-sm;
}

.error-text {
  @apply text-red-500 text-xs;
}

